// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #131515;
$light-blue: #ABCCDF;
$white: #FFFFFF;
$blue: #8EAEC0;

$newblue: #4fc4cf;
$newblop: #4fc4cf97;
$background: #fffffe;
$headline: #181818;
$head2: #994ff3;
$head3: #fbdd74;
$p: #2e2e2e;
$main: #f2eef5;
