.photo-user {
    width: 55px;
    height: 55px;
    border: solid $newblue;
    border-width: 3px;
}

.photo-user-click {
  width: 55px;
  height: 55px;
  border-width: 4px;
}

.top-organization {
    display: flex;
    justify-content: space-between;
    font-family: $headers-font;
    align-items: center;
    margin: 24px 8px 6px 8px;
}

.pic {
  margin: 24px 0 16px 336px
}

.welcome {
  font-size: 32px;
  font-weight: bold;
}

.smooth {
  border-radius: 10px;
  background-color: $newblop;
  border: black;
  // transition: 0.5s;
}

.smooth a {
  color: white;
  font-weight: bolder;
}
