  <div class="card-subcategory" data-controller="click-button" data-action="click->click-button#highlight" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= category.name %>
  </div>
