<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="hide-button" data-action="scroll@window->hide-button#scrollNav">
  <div class="container-fluid">
      <div class="card-icon-title">
        <iconify-icon class="icons-home" icon="ant-design:home-filled" style="color: white;"></iconify-icon>
        <h5><%= link_to "Home", root_path%></h5>
      </div>
      <div class="card-icon-title">
        <iconify-icon class="icons-home" icon="bxs:donate-heart" style="color: white;"></iconify-icon>
        <h5><%= link_to "Donate", filter_path%></h5>
      </div>
      <div class="card-icon-title">
          <iconify-icon class="icons-home" icon="material-symbols:event" style="color: white;"></iconify-icon>
          <h5><%= link_to "Events", root_path%></h5>
    </div>
  </div>
</div>
