<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="hide-button" data-action="scroll@window->hide-button#scrollNav">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to root_path, :action => 'go' do %>
      <div class="card-icon-title">
        <iconify-icon class="icons-home" icon="ant-design:home-filled" style="color: white;"></iconify-icon>
        <h5>Home</h5>
      </div>
    <% end %>
  </div>
</div>
