<div class="card-organization" data-controller="click-button" data-action="click->click-button#highlightOrg">
  <%= cl_image_tag organization.photo.key %>
  <h2><%=organization.name %></h2>
  <p><%= organization.description %></p>

   <input name="organizations[][price]" value=10 hidden data-click-button-target="input_price">
   <input name="organizations[][id]" value=<%=organization.id%> hidden>
   <input name="organizations[][status]" value=false data-click-button-target="status" hidden>
  </div>
