<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Order #<%= @donation.id %> <small><span class="badge badge-primary"><%= @donation.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @donation.created_at.to_date %></li>

        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @donation.amount %></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>2 business days</strong></p>
    </div>
  </div>
</div>

