.navbar {
  // display: flex;
  // justify-content: space-around;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 88px;
  visibility: visible;
  opacity: 0.95;
  transition: all 1s ease-out;
}

.navbar-lewagon {
  background: $newblue;
  text-align: center;
}

.navbar h5 {
  font-family: $desc-font;
  font-weight: bolder;
}

.navbar a {
  text-decoration: none;
  color: $background;
}
