.navbar {
  display: flex;
  transition: 3s;
  justify-content: space-evenly;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 88px;
}

.navbar-lewagon {
  // display: flex;
  // justify-content: space-between;
  background: $newblue;
  opacity: 0.95;
  text-align: center;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar a {
  text-decoration: none;
  color: $background;
}
