<div class="mainpage">
  <div class="container">
    <%if cookies[:categories] && cookies[:sub_categories].nil? %>
     <%= render "shared/filter_cookies_subcategories" %>
    <% elsif cookies[:sub_categories] && cookies[:categories] %>
      <%= render "shared/filter_cookies_organizations" %>
    <% else %>
      <%= render "shared/filter_cookies_categories" %>
    <% end %>
  </div>
</div>
